* {
  /* theme: dark - vibrant blue */

  --fgCol01: hsl(46, 100%, 55%); /* was #ffca18 */
  --fgCol02: hsl(206, 100%, 55%);
  --fgCol03: hsl(0, 0%, 0%);
  --bgCol01: hsl(46, 100%, 55%);
  --bgCol02: hsl(206, 100%, 55%);
  --bgCol03: hsl(0, 0%, 0%);
  --bgCol04: hsl(206, 100%, 45%);
  --shadowCol01: #00000060;
  --bgGradCol01: #222222; /* hsl(0, 0%, 13%) */
  --bgGradCol02: #444444; /* hsl(0, 0%, 27%) */
  --bgBlendMode: multiply;
}